button {
	display: inline-block;
	cursor: pointer;
	background-color: #92C929;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#92C929), to(#1d7900)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #92C929, #1d7900); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(top, #92C929, #1d7900); /* FF3.6 */
	background-image:     -ms-linear-gradient(top, #92C929, #1d7900); /* IE10 */
	background-image:      -o-linear-gradient(top, #92C929, #1d7900); /* Opera 11.10+ */
	background-image:         linear-gradient(top, #92C929, #1d7900);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#92C929', EndColorStr='#1d7900'); /* IE6–IE9 */
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
	box-shadow: 0px 2px 4px rgba(0,0,0, .2);
	-moz-box-shadow: 0px 2px 4px rgba(0,0,0, .2);
	-webkit-box-shadow: 0px 2px 4px rgba(0,0,0, .2);
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.2);
	-moz-text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.2);
	-webkit-text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.2);
	border: 1px solid #1d7900;
	color: #fff;
	font-weight: bold;
	font-size: 14px;
	padding: 5px 7px 5px 7px;
	text-align: center;
}

button[disabled=disabled] {
	background-color: #999999;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#999999), to(#333333)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #999999, #333333); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(top, #999999, #333333); /* FF3.6 */
	background-image:     -ms-linear-gradient(top, #999999, #333333); /* IE10 */
	background-image:      -o-linear-gradient(top, #999999, #333333); /* Opera 11.10+ */
	background-image:         linear-gradient(top, #999999, #333333);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#999999', EndColorStr='#333333'); /* IE6–IE9 */
	border: 1px solid #333333;
}

button.github {
	width: 200px;
}

button.github img {
	margin-right: 7px;
	margin-bottom: -3px;
	height: 16px;
	width: 16px;
}

/* Menu items */

#liGitHub{
	float:right;
	margin-top:-4px;
	height: 20px;
	cursor: pointer;
}

#liGitHub.current {
	color: #999;
}

#imgGitHub {
	width: 20px;
}

/* Modal Box */

#fade {
	display: none;
	background: #000;
	position: fixed; left: 0; top: 0;
	width: 100%; height: 100%;
	opacity: .80;
	filter: alpha(opacity=80);
	z-index: 9999;
}

#modal{
	display: none;
	background: #fff;
	padding: 20px;
	border: 3px solid #ddd;
	float: left;
	position: fixed;
	z-index: 99999;
	/* fix Box Shadow CSS3 */
	-webkit-box-shadow: 0px 0px 20px #000;
	-moz-box-shadow: 0px 0px 20px #000;
	box-shadow: 0px 0px 20px #000;
	/* round corners CSS3 */
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	text-align: left;
}

#modal .buttonArea, #modal h3 {
	text-align: center;
}

#modal textarea {
	min-width: 300px;
	width: 100%;
}

#modal button {
	line-height: 20px;
	margin-bottom: 0;
	padding: 4px 12px;
	margin-top: 10px;
}

#modal .btnClose {
	float: right;
	margin: -35px -35px 0 0;
	cursor: pointer;
}

#modal h3.error {
	color: red;
}

/* Login box */

#loginBox {
	cursor: default;
	position: absolute;
	width : 220px;
	margin-top: 10px;
	margin-left: -194px;
	z-index: 1010;
	display: block;
	padding: 10px;
	text-align: left;
	white-space: normal;
	background-color: #ffffff;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, 0.2);
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
}

#loginBox .arrow {
	position: absolute;
	display: block;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
	border-width: 11px;
	top: -11px;
	left: 50%;
	margin-left: 71px;
	border-bottom-color: #999;
	border-bottom-color: rgba(0, 0, 0, 0.25);
	border-top-width: 0;
}

#loginBox .arrow:after {
	position: absolute;
	display: block;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
	border-width: 10px;
	content: "";
	top: 1px;
	margin-left: -10px;
	border-bottom-color: #ffffff;
	border-top-width: 0;
}

#loginBox h3 {
	text-align:center;
}

#loginBox input {
	width: 212px;
	height: 20px;
	padding: 3px;
	margin: 5px 0px 5px 0px;
	color: black;
	font-style: normal;
	font-size: 12px;
	border: 1px solid #CCC;
}

#loginBox button {
	width: 220px;
}

#loginBox #logginMessage {
	display: block;
	width: 100%;
	color: black;
	font-style: normal;
	text-align: center;
	margin-bottom: 20px;
}

#loginBox #logginBranches {
	margin-bottom: 20px;
}

#loginBox #dropBranches{
	margin-bottom: 10px;
	width: 169px;
}

/* Comment editing */

.commentBox {
	text-align: right;
}

.commentBox textarea {
	font-family: monospace;
	font-size: 1em;
	width: 100%;
	margin-top: 1em;
	padding: 4px;
	padding-left: 11px;
	overflow-y: hidden;
}

.commentBox .preview {
	margin: 0 15px;
	cursor: pointer;
}

.commentBox .cancel {
	background-color: #b33630;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#b33630), to(#9f312c)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #b33630, #9f312c); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(top, #b33630, #9f312c); /* FF3.6 */
	background-image:     -ms-linear-gradient(top, #b33630, #9f312c); /* IE10 */
	background-image:      -o-linear-gradient(top, #b33630, #9f312c); /* Opera 11.10+ */
	background-image:         linear-gradient(top, #b33630, #9f312c);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#b33630', EndColorStr='##9f312c'); /* IE6–IE9 */
	border: 1px solid #9f312c;
}

span.noComment a {
	color: #0D8921;
}
span.noComment a:hover {
	color: #333;
}

div.comment.locked {
	color: gray;
}
p.locked {
	color: black;
}

a.cancel {
	color: #b33630;
	cursor: pointer;
}
