*.bak
*~
EIFGENs

.nit_compile*
*.orig
bin/nit*
doc/stdlib
doc/nitc
doc/newmodel

*.aux
*.log
*.out
*.toc
doc/nit_version.sty

src/nitc
src/nitc_?
src/parser/.nit.sablecc3
src/parser/.nit.sablecc3.dump
src/parser/.parser-nofact.nit
src/nit_version.nit
src/callgrind.*
src/*.log
src/*.dot
src/doc
src/*.dat
src/*.gnu
src/*.bin

c_src/*.o
c_src/*.cksum
c_src/nitc

lib/*.log
lib/*.dot

tests/alt
tests/errlist
tests/out

*.stub.nit.[ch]

.metadata/*
