/src/parser/parser.nit      -diff
/src/parser/parser_prod.nit -diff
/src/parser/lexer.nit       -diff
/src/parser/tables_nit.c    -diff
/c_src/**                   -diff

tests/sav/**/*.res	-whitespace
*.res			-whitespace
*.patch			-whitespace
