*.bak
*.swp
*~
.project
EIFGENs

.nit_compile*
.nitunit
*.orig
bin/nit*
doc/stdlib
doc/nitc
doc/newmodel

*.aux
*.log
*.out
*.toc
doc/nit_version.sty

src/parser/.nit.sablecc3
src/parser/.nit.sablecc3.dump
src/parser/.parser-nofact.nit
src/nit_version.nit
src/callgrind.*
src/*.log
src/*.dot
src/doc
src/*.dat
src/*.gnu
src/*.bin

c_src/*.o
c_src/*.cksum
c_src/nitg

csrc2/

lib/*.log
lib/*.dot

examples/mnit_*/doc
examples/mnit_*/bin

contrib/*/bin

tests/alt
tests/errlist
tests/out
tests/*.xml

*.stub.nit.[ch]

.metadata/*
