*.bak
*~

.nit_compile*
*.orig
nitc
nitdoc
nits
doc/stdlib

*.aux
*.log
*.out
*.toc
doc/nit_version.sty

src/nitc
src/nitc_?
src/parser/.nit.sablecc3
src/parser/.nit.sablecc3.dump
src/parser/.parser-nofact.nit
src/nit_version.nit
src/callgrind.*
src/*.log
src/*.dot

c_src/*.o
c_src/*.cksum

lib/*.log
lib/*.dot

tests/*.res
tests/*.log
tests/*.bin
tests/*.err
tests/*.write
tests/alt
tests/errlist
tests/test_nitc_logs
tests/hello_world

*.stub.nit.[ch]
