<jean@pryen.org> <privat@ciara.pryen.org>
<jean@pryen.org> <jean@x400.pryen.org>
<jean@pryen.org> <privat@pryen.org>

Alexandre Terrasa <alexandre@moz-code.org> <alexadre@moz-code.org>
<alexandre@moz-code.org> <alexandre@moz-concept.com>
Alexandre Terrasa <alexandre@moz-code.org> <alexandre.terrasa@gmail.com>
<alexandre@moz-code.org> <Morriar@users.noreply.github.com>

Lucas Bajolet <r4pass@hotmail.com> <lucas.bajolet@hotmail.com>
Lucas Bajolet <r4pass@hotmail.com>
Lucas Bajolet <r4pass@hotmail.com> <r4pass@r4pass-ubu-laptophp.(none)>
<r4pass@hotmail.com> <r4pass@localhost.localdomain>

Nathan Heu <heu.nathan@courrier.uqam.ca>

Geoffrey Hecht <geoffrey.hecht@gmail.com>

Johan Kayser <johan.kayser@viacesi.fr>

Romain Chanoir <romain.chanoir@viacesi.fr> 
<romain.chanoir@viacesi.fr> <chanoir.romain@courrier.uqam.ca>

Clement de Figueiredo <clement.defigueiredo@gmail.com>

Christophe Gigax <christophe.gigax@viacesi.fr>

Julien Pagès <julien.projet@gmail.com>
