body {
	margin: 0;
	margin-top: 0px;
	padding: 0;
	background-color: #f8f8f8;
        font-size: 14px;
	font-family: "Helvetica Neue", Helvetica, Tahoma, sans-serif;
}
#pageheader {
	position: relative;
	background-color: #292929;
	color: #6c6c6c;
	overflow: hidden;
}
#pageheader_title {
	position: relative;
	width: 125px;
	height: 19px;
	background-color: #f8f8f8;
	padding: 2px;
	text-align: center;
	float: left;
}
#pageheader_title h1 {
	margin: 0;
	font-size: 14px;
}
#pageheader_title h1 span {
	color:#0D8921;
}
#navigation {
 	margin: 0 ;
  	padding: 0 ;
  	list-style: none ;
}
#navigation li {
	display: inline;
	float: left ;
	width: 125px;
	height: 19px;
	padding: 2px;
	background-color: #f8f8f8;
	color: #0D8921;
	font-size: 12px;
	text-align: center;	
	border: 1px #0D8921;
	border-style: none none none dashed;
}
#navigation li button{
	margin-top: -1px;
}
#filename {
	color:#6c6c6c;
}
#editor {
        position: relative;
        left: 0;
        width: 100%;
        height: 460px;
}
#terminal
{
	position: relative;
	left: 0;
	width: 100%;
	height: 230px;
	overflow: auto;
	padding: 0;
}
#listener
{
	height: 0;
}
