<div class='container-fluid'>
	<div class='page-header'>
		<h2><entity-signature mentity='mentity.intro'/></h2>
		<entity-link mentity='mentity.mpackage' /> :: {{mentity.name}}
	</div>

	<ul class='nav nav-tabs'>
		<li role='presentation' class='active'>
			<a data-toggle='tab' data-target='#doc'>
				<span class='glyphicon glyphicon-book'/> Doc
			</a>
		</li>
		<li role='presentation'>
			<a data-toggle='tab' role='tab' data-target='#linearization' aria-controls='linearization' ng-click='entityCtrl.loadEntityLinearization()'>
				<span class='glyphicon glyphicon-arrow-down'/> Linearization
			</a>
		</li>
	</ul>

	<div class='tab-content'>
		<div role='tabpanel' class='tab-pane fade in active' id='doc'>
			<entity-doc mentity='mentity.intro'/>

			<entity-list list-title='Parents'
				list-entities='mentity.parents'
				list-object-filter='{}' />

			<entity-list list-title='Constructors'
				list-entities='mentity.all_mproperties'
				list-object-filter='{is_init: true}' />

			<entity-list list-title='Introduced properties'
				list-entities='mentity.intro_mproperties'
				list-object-filter='{is_init: "!true"}' />

			<entity-list list-title='Redefined properties'
				list-entities='mentity.redef_mproperties'
				list-object-filter='{is_init: "!true"}' />
		</div>
		<div role='tabpanel' class='tab-pane fade' id='linearization'>
			<entity-linearization
				list-title='Class definitions'
				list-entities='linearization'
				list-focus='mentity.intro' />
		</div>
	</div>
</div>
