<div class='container-fluid'>
	<div class='page-header'>
		<h2><entity-signature mentity='mentity' /></h2>
		<entity-namespace mentity='mentity' />
	</div>
	<div ng-switch='mentity.class_name'>
		<div ng-switch-when='MPackage'>
			<div ng-include src='"/views/package.html"' />
		</div>
		<div ng-switch-when='MGroup'>
			<div ng-include src='"/views/group.html"' />
		</div>
		<div ng-switch-when='MModule'>
			<div ng-include src='"/views/module.html"' />
		</div>
		<div ng-switch-when='MClass'>
			<div ng-include src='"/views/class.html"' />
		</div>
		<div ng-switch-when='MClassDef'>
			<div ng-include src='"/views/classdef.html"' />
		</div>
		<div ng-switch-when='MMethod' ng-switch-when='MAttribute' ng-switch-when='MVirtualTypeProp'>
			<div ng-include src='"/views/property.html"' />
		</div>
		<div ng-switch-when='MMethodDef' ng-switch-when='MAttributeDef' ng-switch-when='MVirtualTypeDef'>
			<div ng-include src='"/views/propdef.html"' />
		</div>
	</div>
</div>
