<ul class='nav nav-tabs'>
	<li class='active'>
		<a data-toggle='tab' data-target='#doc'>
			<span class='glyphicon glyphicon-book'/> Doc
		</a>
	</li>
	<li role='presentation'>
		<a data-toggle='tab' data-target='#graph' ng-click="entityCtrl.loadEntityGraph()">
			<span class='glyphicon glyphicon-object-align-vertical'/> Imports
		</a>
	</li>
	<li role='presentation'>
		<a data-toggle='tab' role='tab' data-target='#metrics' aria-controls='metrics' ng-click='entityCtrl.loadStructuralMetrics()'>
			<span class='glyphicon glyphicon-stats'/> Metrics
		</a>
	</li>
</ul>

<div class='tab-content'>
	<div role='tabpanel' class='tab-pane fade in active' id='doc'>
		<div class='col-xs-3'>
			<ui-summary target='#summary-content' />
		</div>
		<div class='col-xs-9' id='summary-content'>
			<entity-card mentity='mentity' default-tab='doc' no-synopsis='true' />

			<entity-list list-title='Parent group' list-entities='[mentity.parent]'
				list-object-filter='{}' ng-if='mentity.parent' />

			<entity-list list-title='Subgroups' list-entities='mentity.mgroups'
				list-object-filter='{}' />

			<entity-list list-title='Modules' list-entities='mentity.mmodules'
				list-object-filter='{}' />
		</div>
	</div>
	<div role='tabpanel' class='tab-pane fade' id='graph'>
		<div class='card'>
			<div class='card-body text-center'>
				<entity-graph mentity='mentity' graph='graph' />
			</div>
		</div>
	</div>
	<div role='tabpanel' class='tab-pane fade' id='metrics'>
		<metrics-list
			list-id='modules_importation'
			list-title='Modules importation'
			list-metrics='metrics.mmodules'
			list-metrics-names='["mdit", "mnoa", "mnop", "mnoc", "mnod"]'
			list-metrics-default='"mdit"' />
		<metrics-list
			list-id='modules_definitions'
			list-title='Modules content'
			list-metrics='metrics.mmodules'
			list-metrics-names='["mnbi", "mnbr", "mnbic", "mnbac", "mnbcc"]'
			list-metrics-default='"mnbi"' />
		<metrics-list
			list-id='classes_inheritance'
			list-title='Classes inheritance'
			list-metrics='metrics.mclasses'
			list-metrics-names='["cdit", "cnoa", "cnop", "cnoc", "cnod"]'
			list-metrics-default='"cdit"' />
		<metrics-list
			list-id='classes_properties'
			list-title='Classes properties'
			list-metrics='metrics.mclasses'
			list-metrics-names='["cnbp", "cnba", "cnbip", "cnbrp", "cnbhp", "cnblp"]'
			list-metrics-default='"cnbp"' />
	</div>
</div>
