<div class='container-fluid'>
	<div class='page-header'>
		<h2><entity-signature mentity='mentity'/></h2>
		<entity-link mentity='mentity.mpackage' /> :: {{mentity.name}}
	</div>

	<ul class='nav nav-tabs'>
		<li class='active'>
			<a data-toggle='tab' data-target='#doc'>
				<span class='glyphicon glyphicon-book'/> Doc
			</a>
		</li>
	</ul>

	<div class='tab-content'>
		<div role='tabpanel' class='tab-pane fade in active' id='doc'>
			<entity-doc mentity='mentity'/>

			<entity-list list-title='Imported modules' list-entities='mentity.imports'
				list-object-filter='{}' />

			<entity-list list-title='Introduced classes' list-entities='mentity.intro_mclasses'
				list-object-filter='{}' />

			<entity-list list-title='Class redefinitions' list-entities='mentity.redef_mclassdefs'
				list-object-filter='{}' />

		</div>
	</div>
</div>
