<div class='container-fluid'>
	<div class='page-header'>
		<h2><entity-signature mentity='mentity'/></h2>
	</div>

	<ul class='nav nav-tabs' role='tablist'>
		<li role='presentation' class='active'>
			<a data-toggle='tab' role='tab' data-target='#doc' aria-controls="doc">
				<span class='glyphicon glyphicon-book'/> Doc
			</a>
		</li>
	</ul>

	<div class='tab-content'>
		<div role='tabpanel' class='tab-pane fade in active' id='doc'>
			<entity-doc mentity='mentity'/>

			<entity-list list-title='Groups' list-entities='mentity.mgroups'
				list-object-filter='{}' />
		</div>
	</div>
</div>
