<ul class='nav nav-tabs' ng-init='entityCtrl.loadEntityLinearization()'>
	<li role='presentation' class='warning'>
		<a href='{{mentity.mproperty.web_url}}'>
			<span class='glyphicon glyphicon-chevron-left'/> Go to property
		</a>
	</li>
	<li role='presentation' class='active'>
		<a data-toggle='tab' role='tab' data-target='#linearization' aria-controls='linearization'>
			<span class='glyphicon glyphicon-arrow-down'/> Linearization
		</a>
	</li>
</ul>

<div class='tab-content'>
	<div role='tabpanel' class='tab-pane fade in active' id='linearization'>
		<entity-linearization
			list-title='Class definitions'
			list-entities='linearization'
			list-focus='mentity' />
	</div>
</div>
