/* General */

body {
	font: 14px "Helvetica Neue", Helvetica, Tahoma, sans-serif;
}

a {
	color: #333;
	text-decoration: none;
}

a:hover {
	color: #0D8921;
}

ul {
	list-style-type: square;
}

pre, code {
	white-space: pre;
	font-family: monospace;
	font-size: 1em;
}

.description div.comment {
	background: #EEE;
	color: black;
	overflow: auto;
	padding: 0 0 0 12px;
	margin: 1em 0 0 0;
}

.description textarea.baseComment {
	display: none;
}

hr {
	background-color: #DDD;
	height: 1px;
	border: 0;
}

div.clear {
	clear: both;
}

/* Titles */

h1, h2, h3, h4, h5 {
	font-family: Verdana, Geneva, sans-serif;
	color: #6C6C6C;
	font-weight: normal;
}

h1 {
	font-size: 300%;
	margin: 0 0 10px 0;
}

h3 {
	font-weight: bold;
}

/* Page display */

html {
	height: 100%;
	overflow: hidden;
}

body {
	height: 100%;
	margin: 0;
}

header {
	position: fixed;
	z-index: 50;
	left: 0;
	right: 0;
}

.page {
	margin: auto;
	height: 100%;
}

.sidebar {
	position: fixed;
	z-index: 10;
	top: 50px;
	bottom: 1em;
	width: 250px;
	overflow-y:	scroll;
}

.sidebar nav:last-child {
	margin-bottom: 0;
}

.content {
	position: fixed;
	z-index: 10;
	top: 50px;
	bottom: 1em;
	left: 0;
	right: 0;
	margin-left: 265px;
	overflow-y:	scroll;
	margin-right: 5px;
	padding-right: 10px;
}

.content.fullpage {
	margin-left: 20px;
	width: auto;
}

.page.footed .content, .page.footed .sidebar {
	bottom: 2em;
}

footer {
	position: fixed;
	z-index: 50;
	bottom: 0;
	width: 100%;
}

/* Webkit scroll bars */

.sidebar {
    overflow-y: hidden;
}

.sidebar:hover {
    overflow-y: scroll;
}

.sidebar::-webkit-scrollbar, .content::-webkit-scrollbar {
    width: 10px;
}

.sidebar::-webkit-scrollbar-thumb, .content::-webkit-scrollbar-thumb {
	background: #CCC;
	-webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,0.10),inset 0 -1px 0 rgba(0,0,0,0.07);
}

.sidebar::-webkit-scrollbar-thumb:hover, .content::-webkit-scrollbar-thumb:hover {
	background: #999;
}

.sidebar::-webkit-scrollbar-corner, .content::-webkit-scrollbar-corner {
	background: transparent;
}

.sidebar::-webkit-scrollbar-button, .content::-webkit-scrollbar-button {
	width: 0;
	height: 0;
	display: none;
}

/* Header, Footer */

header nav ul {
	padding: 0;
	list-style-type: none;
	margin: auto;
}

header nav ul li {
	display: inline;
	padding: 3px 6px;
	margin: auto 5px;
	color: #999;
}

footer {
	text-align: center;
	padding-bottom: 10px;
	color: #CCC;
}

/* Main menu */

header nav.main {
	background: #f1f1f1;
	border-bottom: 1px solid #ddd;
	padding: 7px 0;
}

header nav.main ul li.current {
	background: #0D8921;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border: 1px solid #1d7900;
	color: #fff;
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.2);
	-moz-text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.2);
	-webkit-text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.2);
}

/* Sidebar */

.sidebar nav {
	margin: 20px;
	width: 208px;
	border: 1px solid #ddd;
}

.sidebar nav:first-child {
	margin-top: 0;
}

.sidebar nav h3 {
	margin: 0;
	padding: 5px;
	background: #f1f1f1;
	font-size: 1em;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.sidebar nav h4 {
	font-weight: bold;
	color: #555555;
	margin: 10px 0 0 10px;
	font-size: 12px;
}

.sidebar nav h4:last-child {
	margin-bottom: 5px;
}

.sidebar nav ul {
	margin: 10px;
	padding: 0;
	list-style-type: none;
}

.sidebar nav ul li {
	overflow: hidden;
	color: #CCC;
}

/* Content */

.content article {
	color: #6C6C6C;
	background-repeat: no-repeat;
	background-position: left 7px;
	margin: 20px 0;
	padding: 5px 20px;
}

.content article h3 {
	margin: 0;
	font-weight: bold;
	color: #333;
}

.content article.graph {
	text-align: center;
}

.content article.modules,
.content article.classes,
.content article.properties {
	float: left;
	width: 250px;
	overflow: hidden;
}

.content article.overview ul,
.content article.modules ul,
.content article.classes ul,
.content article.properties ul {
	list-style-type: none;
	padding: 0;
}

.content article.properties ul ul {
	padding-left: 10px;
}

nav ul li span {
	color: #CCC;
	text-align: center;
	font-family: monospace;
	margin-right: 5px;
}

.content article.modules ul code,
.content article.classes ul code,
.content article.properties ul code {
	font-weight: normal;
}

.content section.summary h2, .content section.summary article{
	color: #000000;
}

.content section.summary article h3{
	font-weight: bold;
	color: #555;
}

.content article:target {
	background-color: #FFF3C2;
	color: black;
}

.content .subtitle {
	color: #6C6C6C;
}

.content a {
	color: #0D8921;
}

.content a:hover {
	color: #333;
}

.info {
	color: #6C6C6C;
}

.info a {
	color: #333;
}

.info a:hover {
	color: #0D8921;
}


article .info .code {
	float: right;
}

.description .inheritance {
	text-align: right;
	margin: 2px;

}

.content .concern-doc {
	border-bottom: 1px dashed #CCC;
	padding: 5px 0;
	color: #6C6C6C;
}

.content section.concerns {
	padding: 10px;
	border: 1px solid #ccc;

}

.content section.concerns h2 {
	margin-top: 0;
}

.content section.concerns ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

.content section.concerns li {
    margin-top: 10px;
}

.content section.concerns ul ul {
    padding-left: 20px;
}

.content section.concerns ul ul li {
    margin-top: 0;
}

.content section.methods h3.concern-toplevel {
	padding: 10px;
	border: 1px solid #ccc;
	color: #6C6C6C;
}

.show-code {
	margin: 0;
}

/* Icons */

.type.public, .interface.public, .abstract.class.public { background-image: url('../resources/icons/vtype_public.png')}
.type.protected, .interface.protected, .abstract.class.protected { background-image: url('../resources/icons/vtype_protected.png')}
.type.private, .interface.private, .abstract.class.private { background-image: url('../resources/icons/vtype_private.png')}
.init.public, .enum.public { background-image: url('../resources/icons/const_public.png')}
.init.protected, .enum.protected { background-image: url('../resources/icons/const_protected.png')}
.init.private, .enum.private { background-image: url('../resources/icons/const_private.png')}
.fun.public, .class.public, .extern.public { background-image: url('../resources/icons/meth_public.png')}
.fun.protected, .class.protected, .extern.protected { background-image: url('../resources/icons/meth_protected.png')}
.fun.private, .class.private, .extern.private { background-image: url('../resources/icons/meth_private.png')}

/* Form elements */

input[type=text] {
	border: 1px solid #CCC;
	padding: 1px 2px;
}

nav.main input[type=text] {
	margin: -2px 10px;
	color: black;
	font-style: normal;
}

/* New comments style */

.nitdoc {
  background: #F7F7F7;
  padding: 5px;
  color: black;
  overflow: auto;
}

.nitdoc pre {
  background: #EEE;
}

.nitdoc code {
  background: #DDD;
  padding: 0 1px;
}

.nitdoc pre code {
	background: none;
}

.nitdoc .synopsys, .nitdoc p:first-child {
	font-weight: bold;
	color: #6c6c6c;
}

.rawcode {
}

.nitcode a { color: inherit; text-decoration: inherit; } /* hide links */
.nitcode a:hover { text-decoration: underline; } /* underline links */
.nitcode span[title]:hover { text-decoration: underline; } /* underline titles */
/* lexical raw tokens. independent of usage or semantic: */
.nitcode .nc_c { color: gray; font-style: italic; } /* comment */
.nitcode .nc_d { color: #3D8127; font-style: italic; } /* documentation comments */
.nitcode .nc_k { font-weight: bold; } /* keyword */
.nitcode .nc_o {} /* operator */
.nitcode .nc_i {} /* standard identifier */
.nitcode .nc_t { color: #445588; font-weight: bold; } /* type/class identifier */
.nitcode .nc_a { color: #445588; font-style: italic; } /* old style attribute identifier */
.nitcode .nc_l { color: #009999; } /* char and number literal */
.nitcode .nc_s { color: #8F1546; } /* string literal */
/* syntactic token usage. added because of their position in the AST */
.nitcode .nc_ast { color: blue; } /* assert label */
.nitcode .nc_la { color: blue; } /* break/continue label */
.nitcode .nc_m { color: #445588; } /* module name */
/* syntactic groups */
.nitcode .nc_def { font-weight: bold; color: blue; } /* name used in a definition */
.nitcode .nc_def.nc_a { color: blue; } /* name used in a attribute definition */
.nitcode .nc_def.nc_t { color: blue; } /* name used in a class or vt definition */
.nitcode .nc_ss { color: #9E6BEB; } /* superstrings */
.nitcode .nc_cdef {} /* A whole class definition */
.nitcode .nc_pdef {} /* A whole property definition */
/* semantic token usage */
.nitcode .nc_v { font-style: italic; } /* local variable or parameter */
.nitcode .nc_vt { font-style: italic; } /* virtual type or formal type */

.nitcode .nc_error { border: 1px red solid;} /* not used */

